<!-- 2 columns form -->
<div class="card">
    <div class="card-header">
        <h5 class="card-title">Wallet information</h5>
    </div>

    <div class="card-body">
        Save your public and private keys locally. We are only storing your pubic key (wallet address) on the server.
    </div>

    <div class="card-body">
        <!--        <form action="/actions/myProfile" method="post">-->
        <div class="row">

            <div class="col-lg-6">
                <fieldset>
                    <legend class="font-weight-semibold"><i class="icon-wallet mr-2"></i> Account details</legend>

                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label">Address:</label>
                        <div class="col-lg-10">
                            <input type="text" id="wallet" value="{{userDetails.wallet}}" class="form-control" readonly>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label">GatewayId:</label>
                        <div class="col-lg-10">
                            <input type="text" id="gatewayId" value="{{userDetails.gatewayId}}" class="form-control" readonly>
                        </div>
                    </div>

                    <div id="apikeyForm" class="form-group row" hidden>
                        <label class="col-lg-2 col-form-label">API key:</label>
                        <div class="col-lg-10">
                            <input type="text" id="apikey" value="{{userDetails.apikey}}" class="form-control" readonly>
                        </div>
                    </div>

                    <div id="transferPwForm" class="form-group row" hidden>
                        <label class="col-lg-2 col-form-label">Transfer PW:</label>
                        <div class="col-lg-10">
                            <input type="text" id="transferPw" value="{{userDetails.transferPw}}" class="form-control" readonly>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label">KDA Balance:</label>
                        <div class="col-lg-10">
                            <input type="text" value="{{userDetails.balance}}" class="form-control" readonly>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label">USD Balance:</label>
                        <div class="col-lg-10">
                            <input type="text" value="{{userDetails.fiatBalance}}" class="form-control" readonly>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label">CRANKK Balance:</label>
                        <div class="col-lg-10">
                            <input type="text" value="{{userDetails.crankkBalance}}" class="form-control" readonly>
                        </div>
                    </div>

                    <div id="pubPrivForm" class="form-group row" hidden>
                        <label class="col-form-label col-lg-2">Public and private key:</label>
                        <div class="col-lg-10">
                            <textarea rows="3" cols="3" id="pubPriv" class="form-control" placeholder="Default textarea" readonly></textarea>
                        </div>
                    </div>

                    <div class="form-group row" id="passPhraseForm" hidden>
                        <label class="col-form-label col-lg-2">Passphrase:</label>
                        <div class="col-lg-10">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group form-group-feedback form-group-feedback-left">
                                        <input type="password" id="passPhrase" class="form-control" placeholder="Passphrase">
                                        <div class="form-control-feedback">
                                            <i class="icon-spinner2 spinner"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row" id="passPhrase2Form" hidden>
                        <label class="col-form-label col-lg-2">Passphrase repeat:</label>
                        <div class="col-lg-10">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group form-group-feedback form-group-feedback-left">
                                        <input type="password" id="passPhrase2" class="form-control" placeholder="Passphrase">
                                        <div class="form-control-feedback">
                                            <i class="icon-spinner2 spinner"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="text-right" id="buttonForm" hidden>
            <input type="text" value="{{userDetails.hasKey}}" class="form-control" hidden>
            <button id="button" class="btn btn-primary">Send <i class="icon-paperplane ml-2"></i></button>
        </div>
        <!--        </form>-->
    </div>
</div>
<!-- /2 columns form -->
<script>
    $(document).ready(function() {
        const cipher = localStorage.getItem('cipher-pactAgent')
        if (!cipher && $('#hasKey').val() === 'false') {
            const KP = Pact.crypto.genKeyPair();
            $('#wallet').val('k:'+KP.publicKey)
            $('#pubPriv').val(JSON.stringify(KP))
            $('#buttonForm').removeAttr('hidden')
            $('#pubPrivForm').removeAttr('hidden')
            $('#passPhraseForm').removeAttr('hidden')
            $('#passPhrase2Form').removeAttr('hidden')
            $( "#button" ).click(function(e) {
                e.preventDefault()
                const passPhrase = $('#passPhrase').val()
                const passPhrase2 = $('#passPhrase2').val()
                if (passPhrase.length < 8 || passPhrase !== passPhrase2) {
                    alert('Passphrase must be at least 8 characters and match!')
                    return
                }
                let cipher = CryptoJS.AES.encrypt(KP.secretKey, passPhrase);
                cipher = cipher.toString()
                localStorage.setItem('cipher-pactAgent', cipher)
                localStorage.setItem('public-pactAgent', KP.publicKey)
                const data = KP
                $.ajax({
                    type: 'POST',
                    url: '/actions/wallet',
                    data,
                });
                setTimeout(() => {
                    window.location.href = '/'
                }, 1000)
            });
        } else {
            if ($('#gatewayId').val() === '') {
                $('#gatewayId').removeAttr('readonly')
                $('#gatewayId').addClass('is-invalid')
                $('#buttonForm').removeAttr('hidden')
                $('#apikeyForm').removeAttr('hidden')
                $('#apikey').removeAttr('readonly')
                $('#apikey').addClass('is-invalid')
                $( "#button" ).click(function(e) {
                    e.preventDefault()
                    const gatewayId = $('#gatewayId').val()
                    const apikey = $('#apikey').val()
                    const data = {gatewayId, apikey}
                    if (gatewayId.length != 16 || apikey.length < 20) {
                        alert('You may not have entered Gateway ID and API Key correctly!')
                        return
                    }
                    $.ajax({
                        type: 'POST',
                        url: '/actions/setGwId',
                        data,
                    });
                    setTimeout(() => {
                        window.location.href = '/'
                    }, 1000)
                });
            } else {
                if ($('#gwStatus').text() === 'Need password') {
                    $('#buttonForm').removeAttr('hidden')
                    $('#transferPwForm').removeAttr('hidden')
                    $('#transferPw').removeAttr('readonly')
                    $('#transferPw').addClass('is-invalid')
                    $( "#button" ).click(function(e) {
                        e.preventDefault()
                        const transferPw = $('#transferPw').val()
                        const data = {transferPw}
                        $.ajax({
                            type: 'POST',
                            url: '/actions/setTrPw',
                            data,
                        });
                        setTimeout(() => {
                            window.location.href = '/'
                        }, 1000)
                    });
                }
            }
        }
    });
</script>